devops/amap-intelligent-engine-development/Run/Nifi/Phase1/Flows/MySQL_to_s3.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>bc6da6fa-fff2-4ef7-8012-21536c07bcdd</groupId>
    <name>MySQL_to_s3_20230626</name>
    <snippet>
        <controllerServices>
            <id>265218be-3167-3e2c-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <versionedComponentId>265218be-3167-3e2c-8331-a386adeddd14</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>
                        <dependencies>
                            <dependentValues>rfc-4180</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim double quote</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReaderWithAttribute</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>${read_delimiter}</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Trim double quote</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>3bff8041-defe-3d01-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <versionedComponentId>3bff8041-defe-3d01-ab9e-f68c50fb9731</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>MySqlConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>#{MySQL_Jdbc_Url}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.mariadb.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>#{MYSQL_Jdbc_Jar_Location}</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>#{MYSQL_Jdbc_User}</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>b90a74b7-4d6a-351c-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <versionedComponentId>b90a74b7-4d6a-351c-b951-027c721eb66c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>c7e00285-e928-32fc-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <versionedComponentId>c7e00285-e928-32fc-a201-1181d5404d4a</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>
                        <name>Include Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Mode</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Include Trailing Delimiter</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVRecordSetWriterComma</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Include Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Quote Mode</key>
                    <value>MINIMAL</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Include Trailing Delimiter</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>edbc9119-94c3-3a6b-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <versionedComponentId>edbc9119-94c3-3a6b-b87d-f6de1fe98494</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>default-credentials</key>
                    <value>
                        <name>default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Access Key</key>
                    <value>
                        <name>Access Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Secret Key</key>
                    <value>
                        <name>Secret Key</name>
                    </value>
                </entry>
                <entry>
                    <key>Credentials File</key>
                    <value>
                        <name>Credentials File</name>
                    </value>
                </entry>
                <entry>
                    <key>profile-name</key>
                    <value>
                        <name>profile-name</name>
                    </value>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>
                        <name>anonymous-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                    <value>
                        <name>Assume Role ARN</name>
                    </value>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                    <value>
                        <name>Assume Role Session Name</name>
                    </value>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>
                        <name>Session Time</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                    <value>
                        <name>assume-role-external-id</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                    <value>
                        <name>assume-role-proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                    <value>
                        <name>assume-role-proxy-port</name>
                    </value>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                    <value>
                        <name>assume-role-sts-endpoint</name>
                    </value>
                </entry>
            </descriptors>
            <name>AWSCredentialsProviderControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>default-credentials</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>Access Key</key>
                </entry>
                <entry>
                    <key>Secret Key</key>
                </entry>
                <entry>
                    <key>Credentials File</key>
                </entry>
                <entry>
                    <key>profile-name</key>
                </entry>
                <entry>
                    <key>anonymous-credentials</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Assume Role ARN</key>
                </entry>
                <entry>
                    <key>Assume Role Session Name</key>
                </entry>
                <entry>
                    <key>Session Time</key>
                    <value>3600</value>
                </entry>
                <entry>
                    <key>assume-role-external-id</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-host</key>
                </entry>
                <entry>
                    <key>assume-role-proxy-port</key>
                </entry>
                <entry>
                    <key>assume-role-sts-endpoint</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
        </controllerServices>
        <processGroups>
            <id>cb53a473-3028-3ae4-0000-000000000000</id>
            <parentGroupId>da45990d-c945-3a76-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>cb53a473-3028-3ae4-842a-55e85609d687</versionedComponentId>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>5fb5091f-5278-3183-0000-000000000000</id>
                    <parentGroupId>cb53a473-3028-3ae4-0000-000000000000</parentGroupId>
                    <position>
                        <x>-216.0</x>
                        <y>192.0</y>
                    </position>
                    <versionedComponentId>5fb5091f-5278-3183-b447-44e6551996aa</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3f506482-20dd-31fd-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>3f506482-20dd-31fd-989a-6c8b18b25350</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>ab87a1ea-4c7d-3500-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ab87a1ea-4c7d-3500-81e6-c2449f4373b3</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>cbc58878-7c67-388e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cbc58878-7c67-388e-96cc-d2415998de9a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6991cc06-0a4e-3211-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>6991cc06-0a4e-3211-bec8-ba1d6f8f8dcc</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>6d561d43-bd9d-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6d561d43-bd9d-32a8-8998-b1c61b0e65bc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>003cb001-d4d5-3ef9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>003cb001-d4d5-3ef9-bcb5-5d6af6786a6d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>95c60fb3-a7fb-3ed7-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>95c60fb3-a7fb-3ed7-a867-5c8845a6df42</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>58431e76-d382-3ecc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>58431e76-d382-3ecc-9e60-5f7a5a33a975</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>ab87a1ea-4c7d-3500-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>ab87a1ea-4c7d-3500-81e6-c2449f4373b3</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bf0dce0b-c86c-34f6-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>bf0dce0b-c86c-34f6-8749-1cee56a7f681</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>8df433cd-7668-3e85-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8df433cd-7668-3e85-8764-f9d5ac796e6b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>6d561d43-bd9d-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6d561d43-bd9d-32a8-8998-b1c61b0e65bc</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c13fe6ec-aed3-3c77-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>c13fe6ec-aed3-3c77-b244-a071a18521ef</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>6d561d43-bd9d-32a8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6d561d43-bd9d-32a8-8998-b1c61b0e65bc</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>83af9922-bee8-3a8d-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>83af9922-bee8-3a8d-845d-9b031789960d</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4d5b60e-aa16-3f86-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <versionedComponentId>c4d5b60e-aa16-3f86-83f1-cbedc7633fb5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>cbc58878-7c67-388e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>cbc58878-7c67-388e-96cc-d2415998de9a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5fb5091f-5278-3183-0000-000000000000</groupId>
<id>8df433cd-7668-3e85-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8df433cd-7668-3e85-8764-f9d5ac796e6b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>003cb001-d4d5-3ef9-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-560.0</x>
<y>200.0</y>
                            </position>
                            <versionedComponentId>003cb001-d4d5-3ef9-bcb5-5d6af6786a6d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 7 1 * * ?</schedulingPeriod>
<schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenFF - CRON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>58431e76-d382-3ecc-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-352.0</x>
<y>1176.0</y>
                            </position>
                            <versionedComponentId>58431e76-d382-3ecc-9e60-5f7a5a33a975</versionedComponentId>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>DEBUG</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Object Key</key>
        <value>
            <name>Object Key</name>
        </value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>
            <name>Bucket</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>Content Disposition</key>
        <value>
            <name>Content Disposition</name>
        </value>
    </entry>
    <entry>
        <key>Cache Control</key>
        <value>
            <name>Cache Control</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
        <value>
            <name>s3-object-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>
            <name>s3-object-remove-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>
            <name>Storage Class</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
        <value>
            <name>Expiration Time Rule</name>
        </value>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>
            <name>FullControl User List</name>
        </value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>
            <name>Read Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>
            <name>Write Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>
            <name>Read ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>
            <name>Write ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>
            <name>canned-acl</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>
            <name>Endpoint Override URL</name>
        </value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>
            <name>Signer Override</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>
            <name>Multipart Threshold</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>
            <name>Multipart Part Size</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>
            <name>Multipart Upload AgeOff Interval</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>
            <name>Multipart Upload Max Age Threshold</name>
        </value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>
            <name>s3-temporary-directory-multipart</name>
        </value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>
            <name>server-side-encryption</name>
        </value>
    </entry>
    <entry>
        <key>encryption-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
            <name>encryption-service</name>
        </value>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>
            <name>use-chunked-encoding</name>
        </value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>
            <name>use-path-style-access</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Object Key</key>
        <value>#{DM3_Target_S3_Prefix}#{DM3_ETL_Process_Date}/${namefile}_#{DM3_ETL_Process_Date}.csv</value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>#{DM3_Target_S3_Bucket}</value>
    </entry>
    <entry>
        <key>Content Type</key>
    </entry>
    <entry>
        <key>Content Disposition</key>
    </entry>
    <entry>
        <key>Cache Control</key>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>edbc9119-94c3-3a6b-0000-000000000000</value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>ap-southeast-2</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>${s3.permissions.full.users}</value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>${s3.permissions.read.users}</value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>${s3.permissions.write.users}</value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>${s3.permissions.readacl.users}</value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>${s3.permissions.writeacl.users}</value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>${s3.owner}</value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>${s3.permissions.cannedacl}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>Default Signature</value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>60 min</value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>7 days</value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>${java.io.tmpdir}</value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>None</value>
    </entry>
    <entry>
        <key>encryption-service</key>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>true</value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutS3Object</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                        </processors>
                        <processors>
                            <id>6d561d43-bd9d-32a8-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-352.0</x>
<y>408.0</y>
                            </position>
                            <versionedComponentId>6d561d43-bd9d-32a8-8998-b1c61b0e65bc</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>DEBUG</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>3bff8041-defe-3d01-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT
so.`date`,
so.adserver_adslot_id,
so.adserver_id,
so.metric,
so.media_type, 
so.catalog_value, 
so.record_type,
so.catalog_item_id, 
so.catalog_item_name,
so.adserver_target_remote_id,
so.adserver_target_name,
so.adserver_target_type,
so.adserver_target_category,
so.adserver_target_code,
so.future_capacity,
so.booked,
so.reserved 
FROM so_inventory as so</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>83af9922-bee8-3a8d-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-64.0</x>
<y>200.0</y>
                            </position>
                            <versionedComponentId>83af9922-bee8-3a8d-845d-9b031789960d</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>86400 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenFF - MANUAL START</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>8df433cd-7668-3e85-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-352.0</x>
<y>616.0</y>
                            </position>
                            <versionedComponentId>8df433cd-7668-3e85-8764-f9d5ac796e6b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>265218be-3167-3e2c-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>c7e00285-e928-32fc-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>ab87a1ea-4c7d-3500-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-352.0</x>
<y>984.0</y>
                            </position>
                            <versionedComponentId>ab87a1ea-4c7d-3500-81e6-c2449f4373b3</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>namefile</key>
        <value>
            <name>namefile</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>namefile</key>
        <value>SO_Inventory</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>cbc58878-7c67-388e-0000-000000000000</id>
                            <parentGroupId>5fb5091f-5278-3183-0000-000000000000</parentGroupId>
                            <position>
<x>-352.0</x>
<y>800.0</y>
                            </position>
                            <versionedComponentId>cbc58878-7c67-388e-96cc-d2415998de9a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Match Requirement</key>
        <value>
            <name>Match Requirement</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>
            <name>Content Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>empty_content</key>
        <value>
            <name>empty_content</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Match Requirement</key>
        <value>content must match exactly</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>empty_content</key>
        <value>^$</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Terminate_empty_content</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>empty_content</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>SO_Inventory_Download</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>8d2927cb-820f-3be2-0000-000000000000</id>
                    <parentGroupId>cb53a473-3028-3ae4-0000-000000000000</parentGroupId>
                    <position>
                        <x>232.0</x>
                        <y>192.0</y>
                    </position>
                    <versionedComponentId>8d2927cb-820f-3be2-8bdf-d722df566abb</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>6cd37b81-6486-33cc-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>6cd37b81-6486-33cc-80af-c94b6fe85a15</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>700c1a45-b874-38fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>700c1a45-b874-38fb-8bb3-f7001700d395</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>d5e25bc1-a093-3a0a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d5e25bc1-a093-3a0a-80e7-d06b03a60ced</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>70a3395d-d39e-388f-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>70a3395d-d39e-388f-b555-1f0cae89a90e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>dca2a57a-d823-30a4-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>dca2a57a-d823-30a4-a48e-eaf3780b41e8</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>6d769bae-4c54-321c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6d769bae-4c54-321c-8f10-72d1ea0fb862</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>91685fd5-3a8d-3a38-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>91685fd5-3a8d-3a38-9963-1be3bf3a72d6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>d5e25bc1-a093-3a0a-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d5e25bc1-a093-3a0a-80e7-d06b03a60ced</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>81c8ae0c-382d-36a1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c8ae0c-382d-36a1-94a1-92dabca824ad</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a9a5dda8-6fef-35f4-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>a9a5dda8-6fef-35f4-b82b-97603b3046b3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>81c8ae0c-382d-36a1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c8ae0c-382d-36a1-94a1-92dabca824ad</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>4622cedf-60e0-300e-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4622cedf-60e0-300e-be25-7f2daf408966</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4979f85-acbe-307f-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>c4979f85-acbe-307f-9951-91bb3ba1e25d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>81c8ae0c-382d-36a1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>81c8ae0c-382d-36a1-94a1-92dabca824ad</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>b194e71d-3fa3-3983-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>b194e71d-3fa3-3983-b6af-43f748ce1fe5</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d2aec224-0978-3c05-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <versionedComponentId>d2aec224-0978-3c05-a395-a57c571d12c8</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>6d769bae-4c54-321c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6d769bae-4c54-321c-8f10-72d1ea0fb862</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_INACTIVE</loadBalanceStatus>
                            <loadBalanceStrategy>ROUND_ROBIN</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>8d2927cb-820f-3be2-0000-000000000000</groupId>
<id>700c1a45-b874-38fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>700c1a45-b874-38fb-8bb3-f7001700d395</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>4622cedf-60e0-300e-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>600.0</x>
<y>-344.0</y>
                            </position>
                            <versionedComponentId>4622cedf-60e0-300e-be25-7f2daf408966</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>86400 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenFF - MANUAL START</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>6d769bae-4c54-321c-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>312.0</x>
<y>448.0</y>
                            </position>
                            <versionedComponentId>6d769bae-4c54-321c-8f10-72d1ea0fb862</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>namefile</key>
        <value>
            <name>namefile</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>namefile</key>
        <value>API_Reserved_History</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute API_Reserved_History</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>700c1a45-b874-38fb-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>312.0</x>
<y>256.0</y>
                            </position>
                            <versionedComponentId>700c1a45-b874-38fb-8bb3-f7001700d395</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Match Requirement</key>
        <value>
            <name>Match Requirement</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>
            <name>Content Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>empty_content</key>
        <value>
            <name>empty_content</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Match Requirement</key>
        <value>content must match exactly</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Content Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>empty_content</key>
        <value>^$</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Terminate_empty_content</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>empty_content</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnContent</type>
                        </processors>
                        <processors>
                            <id>81c8ae0c-382d-36a1-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>312.0</x>
<y>-136.0</y>
                            </position>
                            <versionedComponentId>81c8ae0c-382d-36a1-94a1-92dabca824ad</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>DEBUG</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>3bff8041-defe-3d01-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>SELECT
`date`, market_order_line_details_name, market_order_line_details_id, tech_line_id, tech_line_name, tech_line_remote_id, start_date, end_date, status, media_type, commercial_audience, quantity, unit_type, unit_price, unit_net_price, total_price, adserver_adslot_name, adserver_id, adserver_adslot_id, adserver_target_remote_id, adserver_target_name, adserver_target_type, adserver_target_category, adserver_target_code, `length`, format_id, price_item, breadcrumb, advertiser_id, brand_name, market_order_id, market_order_name, frequency_cap, day_part, priority, ad_format_id, market_product_type_id
FROM data_activation.api_reserved_history</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteSQL</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>b194e71d-3fa3-3983-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>104.0</x>
<y>-344.0</y>
                            </position>
                            <versionedComponentId>b194e71d-3fa3-3983-b6af-43f748ce1fe5</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 7 1 * * ?</schedulingPeriod>
<schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenFF - CRON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>d5e25bc1-a093-3a0a-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>312.0</x>
<y>64.0</y>
                            </position>
                            <versionedComponentId>d5e25bc1-a093-3a0a-80e7-d06b03a60ced</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>b90a74b7-4d6a-351c-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>c7e00285-e928-32fc-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord Avro to CSV</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>dca2a57a-d823-30a4-0000-000000000000</id>
                            <parentGroupId>8d2927cb-820f-3be2-0000-000000000000</parentGroupId>
                            <position>
<x>312.0</x>
<y>640.0</y>
                            </position>
                            <versionedComponentId>dca2a57a-d823-30a4-a48e-eaf3780b41e8</versionedComponentId>
                            <bundle>
<artifact>nifi-aws-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>DEBUG</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Object Key</key>
        <value>
            <name>Object Key</name>
        </value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>
            <name>Bucket</name>
        </value>
    </entry>
    <entry>
        <key>Content Type</key>
        <value>
            <name>Content Type</name>
        </value>
    </entry>
    <entry>
        <key>Content Disposition</key>
        <value>
            <name>Content Disposition</name>
        </value>
    </entry>
    <entry>
        <key>Cache Control</key>
        <value>
            <name>Cache Control</name>
        </value>
    </entry>
    <entry>
        <key>Access Key</key>
        <value>
            <name>Access Key</name>
        </value>
    </entry>
    <entry>
        <key>Secret Key</key>
        <value>
            <name>Secret Key</name>
        </value>
    </entry>
    <entry>
        <key>Credentials File</key>
        <value>
            <name>Credentials File</name>
        </value>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
            <name>AWS Credentials Provider service</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
        <value>
            <name>s3-object-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>
            <name>s3-object-remove-tags-prefix</name>
        </value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>
            <name>Storage Class</name>
        </value>
    </entry>
    <entry>
        <key>Region</key>
        <value>
            <name>Region</name>
        </value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>
            <name>Communications Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
        <value>
            <name>Expiration Time Rule</name>
        </value>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>
            <name>FullControl User List</name>
        </value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>
            <name>Read Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>
            <name>Write Permission User List</name>
        </value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>
            <name>Read ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>
            <name>Write ACL User List</name>
        </value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>
            <name>Owner</name>
        </value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>
            <name>canned-acl</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
        <value>
            <name>Endpoint Override URL</name>
        </value>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>
            <name>Signer Override</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>
            <name>Multipart Threshold</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>
            <name>Multipart Part Size</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>
            <name>Multipart Upload AgeOff Interval</name>
        </value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>
            <name>Multipart Upload Max Age Threshold</name>
        </value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>
            <name>s3-temporary-directory-multipart</name>
        </value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>
            <name>server-side-encryption</name>
        </value>
    </entry>
    <entry>
        <key>encryption-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
            <name>encryption-service</name>
        </value>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>
            <name>use-chunked-encoding</name>
        </value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>
            <name>use-path-style-access</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
        <value>
            <name>Proxy Host Port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-name</key>
        <value>
            <name>proxy-user-name</name>
        </value>
    </entry>
    <entry>
        <key>proxy-user-password</key>
        <value>
            <name>proxy-user-password</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Object Key</key>
        <value>#{DM3_Target_S3_Prefix}#{DM3_ETL_Process_Date}/${namefile}_#{DM3_ETL_Process_Date}.csv</value>
    </entry>
    <entry>
        <key>Bucket</key>
        <value>#{DM3_Target_S3_Bucket}</value>
    </entry>
    <entry>
        <key>Content Type</key>
    </entry>
    <entry>
        <key>Content Disposition</key>
    </entry>
    <entry>
        <key>Cache Control</key>
    </entry>
    <entry>
        <key>Access Key</key>
    </entry>
    <entry>
        <key>Secret Key</key>
    </entry>
    <entry>
        <key>Credentials File</key>
    </entry>
    <entry>
        <key>AWS Credentials Provider service</key>
        <value>edbc9119-94c3-3a6b-0000-000000000000</value>
    </entry>
    <entry>
        <key>s3-object-tags-prefix</key>
    </entry>
    <entry>
        <key>s3-object-remove-tags-prefix</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Storage Class</key>
        <value>Standard</value>
    </entry>
    <entry>
        <key>Region</key>
        <value>ap-southeast-2</value>
    </entry>
    <entry>
        <key>Communications Timeout</key>
        <value>30 secs</value>
    </entry>
    <entry>
        <key>Expiration Time Rule</key>
    </entry>
    <entry>
        <key>FullControl User List</key>
        <value>${s3.permissions.full.users}</value>
    </entry>
    <entry>
        <key>Read Permission User List</key>
        <value>${s3.permissions.read.users}</value>
    </entry>
    <entry>
        <key>Write Permission User List</key>
        <value>${s3.permissions.write.users}</value>
    </entry>
    <entry>
        <key>Read ACL User List</key>
        <value>${s3.permissions.readacl.users}</value>
    </entry>
    <entry>
        <key>Write ACL User List</key>
        <value>${s3.permissions.writeacl.users}</value>
    </entry>
    <entry>
        <key>Owner</key>
        <value>${s3.owner}</value>
    </entry>
    <entry>
        <key>canned-acl</key>
        <value>${s3.permissions.cannedacl}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Endpoint Override URL</key>
    </entry>
    <entry>
        <key>Signer Override</key>
        <value>Default Signature</value>
    </entry>
    <entry>
        <key>Multipart Threshold</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Part Size</key>
        <value>5 GB</value>
    </entry>
    <entry>
        <key>Multipart Upload AgeOff Interval</key>
        <value>60 min</value>
    </entry>
    <entry>
        <key>Multipart Upload Max Age Threshold</key>
        <value>7 days</value>
    </entry>
    <entry>
        <key>s3-temporary-directory-multipart</key>
        <value>${java.io.tmpdir}</value>
    </entry>
    <entry>
        <key>server-side-encryption</key>
        <value>None</value>
    </entry>
    <entry>
        <key>encryption-service</key>
    </entry>
    <entry>
        <key>use-chunked-encoding</key>
        <value>true</value>
    </entry>
    <entry>
        <key>use-path-style-access</key>
        <value>false</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Host Port</key>
    </entry>
    <entry>
        <key>proxy-user-name</key>
    </entry>
    <entry>
        <key>proxy-user-password</key>
    </entry>
</properties>
<retryCount>0</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutS3Object API_Reserved_History</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>API_Reserved_History_Download</name>
                    <variables/>
                </processGroups>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>MySQL_to_s3</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/26/2023 11:50:29 UTC</timestamp>
</template>
